<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vpnmastersm.singaporevpnmaster">
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        tools:node="remove" />

    <application
        android:name="com.vpnmastersm.singaporevpnmaster.App_MainActivity"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.vpnmastersm.singaporevpnmaster.Activity_Nav"
            android:label="@string/title_activity_navigation"
            android:theme="@style/AppTheme.NoActionBar"/>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />




        <activity
            android:name="com.vpnmastersm.singaporevpnmaster.SplashScreenActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.blinkt.openvpn.ConnectVpnAuthActivity"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:theme="@style/blinkt.dialog" />
        <activity
            android:name="com.vpnmastersm.singaporevpnmaster.homeui.main.NativeAdActivity"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:hardwareAccelerated="true"
            />
        <activity
            android:name="de.blinkt.openvpn.DisconnectVPNActivity"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@style/blinkt.dialog" />

        <activity android:name="com.vpnmastersm.singaporevpnmaster.FeedbackActivity"
            android:label="@string/feedback"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vpnmastersm.singaporevpnmaster.Activity_Nav" />
        </activity>
        <service
            android:name="de.blinkt.openvpn.core.OpenVPNService"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.startapp.sdk.APPLICATION_ID"
            android:value="206196663" />
        <meta-data
            android:name="com.startapp.sdk.RETURN_ADS_ENABLED"
            android:value="false" />
<!--        <meta-data-->
<!--            android:name="com.google.android.gms.ads.APPLICATION_ID"-->
<!--            android:value="ca-app-pub-3330404403152609~3338068123"/>-->

    </application>

</manifest>

